body {
    background-color: lightgray;
}
h1{
 	background-color: lightgray;
}
body {
    background-color: lightgray;
}
h1{
 	background-color: lightgray;
}body {
    background-color: lightgray;
}
h1{
 	background-color: lightgray;
}